Django
djangorestframework
psycopg[binary]
django-cors-headers
python-dotenv
debugpy
pytest
pytest-django
djangorestframework_simplejwt
requests
redis>=5.0
django-crontab
google-genai
pgvector
django-extensions
notebook==7.2.2
jupyterlab==4.2.5
jupyter_server==2.14.2
tornado==6.4.1
pandas
numpy